# Python
__pycache__/
.pytest_cache/
.mypy_cache/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/

# Django
*.log
*.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/

# Env files
.env.docker
.env.*.local
.env
.env.*
!.env.docker.sample
!.env.docker_example

# OS
Thumbs.db
.DS_Store
htmlcov/
.coverage
